      <div class="follow_buttons_byline">
{% if site.twitter_follow_button %}
  <a href="http://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
{% endif %}
{% if site.adn_follow_button %}
   <a href="https://alpha.app.net/intent/follow/?user_id=%40{{ site.adn_user }}" class="adn-button" target="_blank" data-type="follow" data-width="277" data-height="20" data-user-id="@{{ site.adn_user }}" data-show-count="1" data-show-username="1">Follow me on App.net</a>
<script src="//d2zh9g63fcvyrq.cloudfront.net/adn.js"></script>
{% endif %}
      </div>
