
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Blog Layout Test - theory.so</title>
  <meta name="author" content="David E. Wheeler">

  
  <meta name="description" content="Blog Layout Test Following examples from: The Discount documentation
The PHP Markdown Extra documenation
Octopress Snippets
Octorpess Image Tag &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://theory.so/test/layout">
  <link href="/favicon.ico" rel="icon">
  
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="/javascripts/ender.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <link href="/atom.xml" rel="alternate" title="theory.so" type="application/atom+xml">
  

  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43606412-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   class="no-sidebar"  >
  <header role="banner"><hgroup>
  <h2><a href="/"><img src="/images/logo.png" alt="≡" /></a></h2>
  <h1><a href="/">theory.so</a></h1>
</hgroup>

</header>
  <nav role="navigation">
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:theory.so" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/archives">Archives</a></li>
  <li><a href="http://pgxn.org/user/theory">PGXN</a></li>
  <li><a href="/about/">About</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div>
<article role="article">
  
  <header>
    <h1 class="entry-title">Blog Layout Test</h1>
  </header>
  
  <p>Following examples from:</p>

<ul>
<li>The <a href="http://www.pell.portland.or.us/~orc/Code/discount/">Discount documentation</a></li>
<li>The <a href="http://michelf.ca/projects/php-markdown/extra/">PHP Markdown Extra documenation</a></li>
<li><a href="http://octopress.org/docs/blogging/code/">Octopress Snippets</a></li>
<li><a href="http://octopress.org/docs/plugins/image-tag/">Octorpess Image Tag documenation</a></li>
</ul>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris magna.
Suspendisse accumsan elit non tellus.</p>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris magna.
Suspendisse accumsan elit non tellus.</p>

<h1>Heading One</h1>

<p>Above is an <code>h1</code> header. Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Mauris magna. Suspendisse accumsan elit non tellus.</p>

<h2>Heading Two</h2>

<p>Above is an <code>h2</code> header. Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Mauris magna. Suspendisse accumsan elit non tellus.</p>

<h3>Heading Three</h3>

<p>Above is an <code>h3</code> header. Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Mauris magna. Suspendisse accumsan elit non tellus.</p>

<h4>Heading Four</h4>

<p>Above is an <code>h4</code> header. Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Mauris magna. Suspendisse accumsan elit non tellus.</p>

<h5>Heading Five</h5>

<p>Above is an <code>h5</code> header. Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Mauris magna. Suspendisse accumsan elit non tellus.</p>

<h6>Heading Six</h6>

<p>Above is an <code>h6</code> header. Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Mauris magna. Suspendisse accumsan elit non tellus.</p>

<h3>Unordered List</h3>

<ul>
<li>Item one</li>
<li>Item two</li>
<li>Item three

<ul>
<li>Item three-1</li>
<li>Item three-2</li>
</ul>
</li>
<li>Item four</li>
</ul>


<h3>Ordered List</h3>

<ol>
<li>Item one</li>
<li>Item two</li>
<li>Item three

<ol>
<li>Item three-1</li>
<li>Item three-2</li>
</ol>
</li>
<li>Item four</li>
</ol>


<h3>Alpha List</h3>

<ol type="a">
<li>Item one</li>
<li>Item two</li>
<li>Item three</li>
</ol>


<h3>Definition List</h3>

<dl>
<dt>Apple</dt>
<dd>  Pomaceous fruit of plants of the genus Malus in
  the family Rosaceae.</dd>
<dt>Orange</dt>
<dd>  The fruit of an evergreen tree of the genus Citrus.</dd>
</dl>

<p>Multiple definitions:</p>

<dl>
<dt>Apple</dt>
<dd>  Pomaceous fruit of plants of the genus Malus in
  the family Rosaceae.</dd>
<dd>  An American computer company.</dd>
<dt>Orange</dt>
<dd>  The fruit of an evergreen tree of the genus Citrus.</dd>
</dl>

<p>Multiple terms:</p>

<dl>
<dt>Term 1</dt>
<dt>Term 2</dt>
<dd>  Definition a</dd>
<dt>Term 3</dt>
<dd>  Definition b</dd>
</dl>

<p>In paragraphs:</p>

<dl>
<dt>Apple</dt>
<dd><p>  Pomaceous fruit of plants of the genus Malus in
  the family Rosaceae.</p></dd>
<dt>Orange</dt>
<dd><p>   The fruit of an evergreen tree of the genus Citrus.</p></dd>
</dl>

<p>Multiple paragraphs:</p>

<dl>
<dt>Term 1</dt>
<dd><p>  This is a definition with two paragraphs. Lorem ipsum
  dolor sit amet, consectetuer adipiscing elit. Aliquam
  hendrerit mi posuere lectus.</p>

<p>  Vestibulum enim wisi, viverra nec, fringilla in, laoreet
  vitae, risus.</p></dd>
<dd><p>  Second definition for term 1, also wrapped in a paragraph
  because of the blank line preceding it.</p></dd>
<dt>Term 2</dt>
<dd><p>  This definition has a code block, a blockquote and a list.</p>

<pre><code>  code block.
</code></pre>

<blockquote><p>block quote
on two lines.</p></blockquote>

<ol>
<li> first list item</li>
<li> second list item</li>
</ol>
</dd>
</dl>

<h3>Inline Stuff</h3>

<p><a href="/">A link</a>, <strong>bold text</strong>, <em>italic text</em>, <code>Some code</code>, <del>strikethrough text</del>
&ldquo;A quotation&rdquo;, from <code>single-quote guy</code>, don&rsquo;t you know. Characters:</p>

<ul>
<li>&trade;</li>
<li>&copy;</li>
<li>&reg;</li>
<li>&frac14;</li>
<li>&frac12;</li>
<li>&frac34;</li>
<li>&hellip;</li>
<li>&hellip;</li>
<li>an &mdash; mdash</li>
<li>an &ndash; ndash</li>
<li>A<sup>B</sup></li>
<li>A<sup>B+2</sup></li>
</ul>


<h3>Images</h3>

<p><img src="/images/theory.jpg" title="David E. “Theory” Wheeler" ></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.
Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec
consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget
libero egestas mattis sit amet vitae augue.</p>

<p><img class="left" src="/images/theory.jpg" width="250" title="David E. “Theory” Wheeler" ></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.
Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec
consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget
libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut
porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a
non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut
gravida lorem.</p>

<p><img class="right" src="/images/theory.jpg" width="150" title="David E. “Theory” Wheeler" ></p>

<p>Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque
auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit
pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna
ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at
malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient
montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae
nisi at sem facilisis semper ac in est.</p>

<h3>Preformatted Blocks</h3>

<p>Simple Markdown indented code:</p>

<pre><code>my $dbh = DBI-&gt;connect($dsn, $user, $pass, {
    PrintError           =&gt; 0,
    RaiseError           =&gt; 1,
    AutoCommit           =&gt; 1,
});
</code></pre>

<p>Example With Syntax Highlighting a Caption and Link:</p>

<figure class='code'><figcaption><span>Discover if a number is prime</span><a href='http://www.noulakaz.net/weblog/2007/03/18/a-regular-expression-to-check-for-prime-numbers/'>Source Article</a></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'><span class="k">class</span> <span class="nc">Fixnum</span>
</span><span class='line'>  <span class="k">def</span> <span class="nf">prime?</span>
</span><span class='line'>    <span class="p">(</span><span class="s1">&#39;1&#39;</span> <span class="o">*</span> <span class="nb">self</span><span class="p">)</span> <span class="o">!~</span> <span class="sr">/^1?$|^(11+?)\1+$/</span>
</span><span class='line'>  <span class="k">end</span>
</span><span class='line'><span class="k">end</span>
</span></code></pre></td></tr></table></div></figure>


<p>Gist Embedding:</p>

<p>(Disabled for now pending a fix for <a href="https://github.com/imathis/octopress/pull/1363">this bug</a>.)</p>

<pre><code>{-% gist 5908699 %-}
</code></pre>

<p>Include:</p>

<p>File /Users/david/dev/blog/theory.so/source/downloads/code/try.pl could not be found</p>

<p>Inline code block with title and download URL:</p>

<figure class='code'><figcaption><span>Some Objective-C</span><a href='https://github.com/theory/DFURLRegularExpression/blob/master/Classes/DFURLRegularExpression.h'>Get the file </a></figcaption> <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='objc'><span class='line'><span class="p">[</span><span class="n">rectangle</span> <span class="nl">setX:</span> <span class="mi">10</span> <span class="nl">y:</span> <span class="mi">10</span> <span class="nl">width:</span> <span class="mi">20</span> <span class="nl">height:</span> <span class="mi">20</span><span class="p">];</span>
</span></code></pre></td></tr></table></div></figure>


<h3>Block Quote</h3>

<blockquote><p>Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque
auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit
pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna
ultrices accumsan.</p>

<p>Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu
rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at
sem facilisis semper ac in est.</p></blockquote>

<p>Using Octopress syntax:</p>

<blockquote><p>Last night I lay in bed looking up at the stars in the sky and I thought to<br/>myself, where the heck is the ceiling.s</p></blockquote>


<p>From a printed work:</p>

<blockquote><p>Flying is learning how to throw yourself at the ground and miss.</p><footer><strong>Douglas Adams</strong> <cite>The Hichhikers Guide to the Galaxy</cite></footer></blockquote>


<p>From Twitter:</p>

<blockquote><p>Over the past 24 hours I&#8217;ve been reflecting on my life & I&#8217;ve realized only one thing. I need a medieval battle axe.</p><footer><strong>@allanbranch</strong> <cite><a href='https://twitter.com/allanbranch/status/90766146063712256'>twitter.com/allanbranch/status/&hellip;</a></cite></footer></blockquote>


<p>From the Web:</p>

<blockquote><p>Every interaction is both precious and an opportunity to delight.</p><footer><strong>Seth Godin</strong> <cite><a href='http://sethgodin.typepad.com/seths_blog/2009/07/welcome-to-island-marketing.html'>Welcome to Island Marketing</a></cite></footer></blockquote>


<h3>New pseudo-protocols for [] links</h3>

<ul>
<li><abbr title="bar">abbr</abbr></li>
<li><span class="foo">class</span></li>
<li><span id="blah">id</span></li>
<li>bar</li>
<li><span class="author-mark">span</span></li>
</ul>


<h3>Div with Class</h3>

<div class="warning"><p>Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque
auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit
pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna
ultrices accumsan.</p>

<p>Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu
rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes,
nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at
sem facilisis semper ac in est.</p></div>

<h3>Tables</h3>

<table>
<thead>
<tr>
<th>First Header  </th>
<th> Second Header</th>
</tr>
</thead>
<tbody>
<tr>
<td>Content Cell  </td>
<td> Content Cell</td>
</tr>
<tr>
<td>Content Cell  </td>
<td> Content Cell</td>
</tr>
</tbody>
</table>


<p>Aligned:</p>

<table>
<thead>
<tr>
<th> Item      </th>
<th style="text-align:right;"> Value </th>
</tr>
</thead>
<tbody>
<tr>
<td> Computer  </td>
<td style="text-align:right;"> $1600 </td>
</tr>
<tr>
<td> Phone     </td>
<td style="text-align:right;">   $12 </td>
</tr>
<tr>
<td> Pipe      </td>
<td style="text-align:right;">    $1 </td>
</tr>
</tbody>
</table>


<p>Inline Markup:</p>

<table>
<thead>
<tr>
<th> Function name </th>
<th> Description                    </th>
</tr>
</thead>
<tbody>
<tr>
<td> <code>help()</code>      </td>
<td> Display the help window.       </td>
</tr>
<tr>
<td> <code>destroy()</code>   </td>
<td> <strong>Destroy your computer!</strong>     </td>
</tr>
</tbody>
</table>


<h3>Pull Quote</h3>

<p><span class='pullquote-right' data-pullquote='surround it like this'>
Surround your paragraph with the pull quote tags. Then when you come to
the text you want to pull, surround it like this and that&rsquo;s all there is to it.
</span></p>

<h3>Footnote</h3>

<p>That&rsquo;s some text with a footnote.<sup id="fnref:1"><a href="#fn:1" rel="footnote">1</a></sup></p>
<div class="footnotes">
<hr/>
<ol>
<li id="fn:1">
<p>And that&rsquo;s the footnote.<a href="#fnref:1" rev="footnote">&#8617;</a></p></li>
</ol>
</div>


  
</article>

</div>


    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2015 – David E. Wheeler –
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span> –
  <a href="/atom.xml" title="Subscribe to theory.com">Feed</a>
</p>

</footer>
  



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#appId=212934732101925&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



  <script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  </script>



  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
