#content .blog-index {
  padding: { top: 0; bottom: 0; }
  article { padding-top: 2em; }
}

article {
  padding-top: 1em;
  a { @extend .force-wrap; }
  header {
    position: relative;
    @media only screen and (min-width: 768px) {
      margin-bottom: 0.5em;
      // padding-bottom: 1em;
      // background: $img-border bottom left repeat-x;
    }
    .blog-index & { background: none; padding-bottom: 0; }
    p {
      font-size: .9em;
      // hsl(220, 25, 75)
      margin: 0;
      color: lighten($text-color-light, 10);
      &.meta { @extend .sans; padding-top: 0.5em; }
    }
    // time { text-transform: uppercase; }
  }
  .entry-title {
    margin: 0;
    a {
     border-color: transparent;
    }
    .blog-index & {
      font-size: $h1;
      a { color: inherit; &:hover { color: $link-color-hover; } }
    }
  }

  a[rel=bookmark] { text-decoration: none; }

  h2 {
    padding-top: 0.8em;
    // background: $img-border top left repeat-x;
  }
  h2:first-child, header + h2 { background: none; }
  &[data-linklog] {
    .entry-title {
      font-size: $h1;
      // a { text-decoration: underline; }
      a {
        color: inherit;
        border: 1px solid $title-color;
        border-width: 0 0 1px 0;
        @media only screen and (min-width: 768px) {
          padding-bottom: 0.05em;
        }
        margin-bottom: 1em;
        &:hover { text-decoration: none; border-color: $header-link-color; }
      }
    }
    .blog-index & .entry-title { font-size: $h2; }
  }

  .linklog-marker {
    color: $text-color-light;
    font-size: .8em;
    line-height: 1em;
    position: relative; top: -.15em;
  }

  > footer {
    color: $text-color-light;
    padding-bottom: 2.5em;
    margin-top: 2em;
    @extend .sans;
    .blog-index & { margin-top: 1em; }
    .meta {
      margin-top: .75em;
      margin-bottom: .75em;
      font-size: .85em;
      clear: both;
      overflow: hidden;
    }
    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
      @extend .separator;
    }
  }
  .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: $img-border bottom left repeat-x;
    font-size: 2.0em; font-style: italic;
    line-height: 1.3em;
  }

  img, video, .flash-video {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box($border: #aaa 1px solid, $shadow: rgba(#000, .25) 0 2px 10px, $border-radius: .3em);
    padding: .25em;
    background-color: #fff;
  }
  .no-border {
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    box-shadow: none;
    background: transparent;
    padding: 0;
  }
  video, .flash-video { margin: 0 auto 1.5em; }
  video { display: block; width: 100%; }
  .flash-video {
    > div {
      position: relative;
      display: block;
      padding-bottom: 56.25%;
      padding-top: 1px;
      height: 0;
      overflow: hidden;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
#content .blog-index {
  a[rel=full-article] {
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    // color: mix($text-color, $text-color-light);
    @extend .serif;
    @include transition(background-color .5s);
    &:hover {
      text-shadow: none;
    }
  }
  .blog-index & + article {
    background: $img-border top left repeat-x;
  }
}

.separator {
  content: "—";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

#content div.pagination {
  @include pie-clearfix;
  text-align: center;
  font-size: .95em;
  position: relative;
  padding: {top: 1.5em; bottom: 1.5em;}
  border-top: 1px solid #fff;
  a {
    text-decoration: none;
    color: $text-color-light;
    &.prev { position: absolute; left: 0; }
    &.next { position: absolute; right: 0; }
    &:hover { color: $link-color-hover; }
    &[href*=archive] {
      &:before, &:after { content: '\2014'; padding: 0 .3em; }
    }
  }
}
